<!-- <p id="notice"><%# notice %></p>
 -->
 
 <%= image_tag @user.profile_image.small_thumb.url %>
 <h2><%= @user.name %></h2>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Index', users_path %>
